#wrapper{
  padding:0;
  margin:0;
}
body{
  margin:0;
  padding:0;
  width:1000px;
  margin-right:auto;
  margin-left:auto;
}
.number{
  font-size:25px;
  margin:1px;
  padding:1px;
  background-color:silver;
}
#canvases{
  width:567px;
  height:567px;
  position: relative;
}
.canvas{
  top:0
  right:0;
  bottom:0;
  left:0;
  border:solid 2px #67c5ff;
  border-radius:3px;
}
.button{
  display:inline-block;
  width:100px;
  height:100px;
  text-decoration:none;
  font-weight:bold;
  color:#67c5ff;
  border:solid 2px #67c5ff;
  border-radius:50%;
  line-height:100px;
  text-align:center;
}
.img{
  float:left;
  width:28%;
}
.menu{
  text-align:center;
}